spawn-at-startup "swaybg" "-i" "/home/enes/wallpapers/current" "-m" "fill"
spawn-at-startup "quickshell"

// spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "DISPLAY" "XDG_CURRENT_DESKTOP"
