output "eDP-1" {
    mode "1920x1080@144.000"
    scale 1
    variable-refresh-rate
    focus-at-startup
}

output "HDMI-A-1" {

}

output "eDP-2" {
    mode "1920x1080@144.000"
    scale 1
    variable-refresh-rate
    focus-at-startup
}
