include "./config/misc.kdl"
include "./config/input.kdl"
include "./config/layout.kdl"
include "./config/keybinds.kdl"
include "./config/autostart.kdl"
include "./config/layerrules.kdl"
include "./config/windowrules.kdl"
include "./config/animation.kdl"
include "./config/monitor.kdl"
